@import 'application/reset';
@import 'application/index';
@import 'components/Header';
@import 'components/Navigation';
@import 'components/Sign';
@import 'components/Footer';
@import 'components/ContentHeader';
@import 'components/ImageHeading';
@import 'components/Column';
@import 'components/Button';
@import 'components/ImageList';
@import 'components/PostList';

.TopPage {
  background: rgb(216, 213, 191);

  .TopPage--Main {
    .TopPage--Main--CoverImage {
      position: relative;
      margin: 0 auto;
      text-align: center;
    }

    .TopPage--Main--Copy {
      position: relative;
      text-align: center;
      padding: 48px 0 64px;
      max-width: 768px;
      margin: 0 auto;

      .TopPage--Main--Copy--Text {
        position: relative;
        z-index: 2;
        background: rgba(216, 213, 191, 0.8);
      }

      .TopPage--Main--Copy--Ill1,
      .TopPage--Main--Copy--Ill2,
      .TopPage--Main--Copy--Ill3,
      .TopPage--Main--Copy--Ill4,
      .TopPage--Main--Copy--Ill5 {
        position: absolute;
        filter: contrast(100%) brightness(0%);
        height: auto;
      }

      .TopPage--Main--Copy--Ill1 {
        bottom: 21px;
        left: 90%;
        width: 8%;
        min-width: 48px;
      }
      .TopPage--Main--Copy--Ill2 {
        top: 32px;
        left: 81%;
        width: 8%;
        min-width: 48px;
      }
      .TopPage--Main--Copy--Ill3 {
        bottom: 41px;
        left: 74%;
        width: 8%;
        min-width: 59px;
      }
      .TopPage--Main--Copy--Ill4 {
        bottom: -12px;
        right: 82%;
        width: 8%;
        min-width: 81px;
        z-index: 1;
      }
      .TopPage--Main--Copy--Ill5 {
        top: 11px;
        right: 77%;
        width: 8%;
        min-width: 51px;
      }
    }

    .TopPage--Main--Posts {
      position: relative;
      background-image: url("https://khirayama.github.io/yamaai/pages/images/background_post.png");
      box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.88) inset,
        0 -2px 2px 0 rgba(0, 0, 0, 0.88) inset
      ;

      .TopPage--Main--Posts--Cover {
        background: rgba(255, 255, 255, 0.88);

        .Column {
          padding-bottom: 0;
        }
      }

      .PostList--Item:nth-of-type(11),
      .PostList--Item:nth-of-type(12),
      .PostList--Item:nth-of-type(13),
      .PostList--Item:nth-of-type(14),
      .PostList--Item:nth-of-type(15) {
        display: none;
      }
    }

    .TopPage--Main--Map {
      padding: 12px;

      .TopPage--Main--Map--Container {
        width: 100%;
        height: 320px;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .TopPage--Main--Map--ButtonContainer {
        text-align: center;
      }

      .TopPage--Main--Map--Table {
        border-collapse: collapse;

        th {
          border: solid 1px rgba(0, 0, 0, .72);
          padding: 12px;
          min-width: 120px;
        }

        td {
          border: solid 1px rgba(0, 0, 0, .72);
          padding: 12px;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    .TopPage--Main--ReservationBox {
      padding: 12px;

      .TopPage--Main--ReservationBox--Text {
        border: solid 1px rgba(0, 0, 0, .72);
        padding: 12px;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.PostsPage + .TopPage {
  display: none;
}
