@import 'application/reset';
@import 'application/index';
@import 'components/Header';
@import 'components/Navigation';
@import 'components/Sign';
@import 'components/Footer';
@import 'components/ContentHeader';
@import 'components/ImageHeading';
@import 'components/Column';
@import 'components/Button';
@import 'components/ImageList';
@import 'components/PostList';

.TopPage {
  background: rgb(216, 213, 191);

  .TopPage--Main {
    .TopPage--Main--CoverImage {
      position: relative;
      margin: 0 auto;
      text-align: center;

      .TopPage--Main--CoverImage--Ill1,
      .TopPage--Main--CoverImage--Ill2,
      .TopPage--Main--CoverImage--Ill3,
      .TopPage--Main--CoverImage--Ill4,
      .TopPage--Main--CoverImage--Ill5 {
        filter: contrast(100%) brightness(0%);
        position: absolute;
        z-index: 1;
      }

      $base: 24px;

      .TopPage--Main--CoverImage--Ill1 {
        width: 76px;
        bottom: calc(-8% + $base);
        right: 24%;
      }

      .TopPage--Main--CoverImage--Ill2 {
        width: 68px;
        bottom: calc(32% + $base);
        right: 4%;
      }

      .TopPage--Main--CoverImage--Ill3 {
        width: 88px;
        bottom: calc(0 + $base);
        right: 10%;
      }

      .TopPage--Main--CoverImage--Ill4 {
        width: 108px;
        bottom: calc(12% + $base);
        left: 4%;
      }

      .TopPage--Main--CoverImage--Ill5 {
        width: 68px;
        bottom: calc(-4% + $base);
        left: 2%;
      }
    }

    .TopPage--Main--Copy {
      text-align: center;
      padding: 48px 0;

      .TopPage--Main--Copy--Image {
        filter: contrast(100%) brightness(0%);
        width: auto;
        height: calc(189px * 0.14);
        margin-top: 24px;
      }
    }

    .TopPage--Main--Posts {
      position: relative;
      background-image: url("https://khirayama.github.io/yamaai/pages/images/background_post.png");
      box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.88) inset,
        0 -2px 2px 0 rgba(0, 0, 0, 0.88) inset
      ;

      .TopPage--Main--Posts--Cover {
        background: rgba(255, 255, 255, 0.88);

        .Column {
          padding-bottom: 0;
        }
      }
    }

    .TopPage--Main--Map {
      padding: 12px;

      .TopPage--Main--Map--Container {
        width: 100%;
        height: 320px;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .TopPage--Main--Map--ButtonContainer {
        text-align: center;
      }

      .TopPage--Main--Map--Table {
        border-collapse: collapse;

        th {
          border: solid 1px rgba(0, 0, 0, .72);
          padding: 12px;
          min-width: 120px;
        }

        td {
          border: solid 1px rgba(0, 0, 0, .72);
          padding: 12px;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    .TopPage--Main--ReservationBox {
      padding: 12px;

      .TopPage--Main--ReservationBox--Text {
        border: solid 1px rgba(0, 0, 0, .72);
        padding: 12px;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .PostList .PostList--Item {
    display: none;

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      display: inline-block;
    }
  }
}

.PostsPage + .TopPage {
  display: none;
}
