@import 'application/reset';
@import 'application/index';
@import 'components/Header';
@import 'components/Navigation';
@import 'components/Sign';
@import 'components/Footer';
@import 'components/ContentHeader';
@import 'components/ImageHeading';
@import 'components/Column';
@import 'components/Button';
@import 'components/ImageList';
@import 'components/NoteList';
@import 'components/PostList';

/* $background-color: rgb(243, 243, 242); */
$background-color: rgb(234, 237, 247);

.TopPage {
  background: $background-color;

  .TopPage--Main {
    .TopPage--Main--CoverImage {
      position: relative;
      margin: 0 auto;
      text-align: center;
    }

    .TopPage--Main--Copy {
      position: relative;
      padding: 48px 32px 64px;
      max-width: 768px;
      margin: 0 auto;

      .TopPage--Main--Copy--Text {
        display: inline-block;
        position: relative;
        z-index: 2;

        & + .TopPage--Main--Copy--Text {
          margin: 0.5em 0 0;
        }
      }
    }

    .TopPage--Main--Posts {
      position: relative;
      background-image: url("https://khirayama.github.io/yamaai/pages/images/background_post.png");
      box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.88) inset,
        0 -2px 2px 0 rgba(0, 0, 0, 0.88) inset
      ;

      .TopPage--Main--Posts--Cover {
        background: rgba(255, 255, 255, 0.88);

        .Column {
          padding-bottom: 0;
        }
      }

      .PostList--Item:nth-child(13),
      .PostList--Item:nth-child(14),
      .PostList--Item:nth-child(15) {
        display: none;
      }
    }

    .TopPage--Main--Plan {
      h3 {
        .material-icons {
          margin-right: 4px;
        }

        font-weight: bold;
        margin: 0 0 12px;
      }
      table + h3,
      p + h3 {
        margin-top: 24px;
      }
      a {
        text-decoration: 'underline';
      }
    }

    .TopPage--Main--Map {
      padding: 12px;

      .TopPage--Main--Map--Container {
        width: 100%;
        height: 320px;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .TopPage--Main--Map--Table {
        margin-top: 24px;
        width: 100%;
        border-collapse: collapse;

        th {
          border: solid 1px rgba(0, 0, 0, .72);
          padding: 12px;
          min-width: 120px;
        }

        td {
          border: solid 1px rgba(0, 0, 0, .72);
          padding: 12px;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    .TopPage--Main--ReservationBox {
      padding: 12px;

      .TopPage--Main--ReservationBox--Text {
        border: solid 1px rgba(0, 0, 0, .72);
        padding: 12px;

        a {
          text-decoration: underline;
        }
      }
    }

    .TopPage--Main--NotesBox {
      padding: 12px;

      .TopPage--Main--NotesBox--Text {
        border: solid 1px rgba(0, 0, 0, .72);
        padding: 12px;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.PostsPage + .TopPage {
  display: none;
}
