@import 'application/reset';
@import 'application/index';
@import 'components/Header';
@import 'components/Navigation';
@import 'components/Category';
@import 'components/Sign';
@import 'components/Footer';
@import 'components/ImageHeading';
@import 'components/PostList';

.PostsPage {
  background-image: url("https://khirayama.github.io/yamaai/pages/images/background_post.png");

  .PostsPage--Main {
    background: rgba(255, 255, 255, 0.88);

    .PostsPage--Main--Content {
      max-width: 768px;
      margin: 0 auto;
      padding: 36px 0;

      .PostsPage--Main--Content--Body {
        display: inline-block;
        width: 72%;

        .PostsPage--Main--Content--Body--Pagination {
          display: flex;
          max-width: 768px;
          margin: 0 auto;
          padding: 0 12px;

          .PostsPage--Main--Content--Body--Pagination--Previous,
          .PostsPage--Main--Content--Body--Pagination--Next {
            font-weight: bold;
            flex: 1;
          }

          .PostsPage--Main--Content--Body--Pagination--Previous {
            text-align: left;
          }

          .PostsPage--Main--Content--Body--Pagination--Next {
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width:480px) {
  .PostsPage .PostsPage--Main .PostsPage--Main--Content {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0 12px;

    .PostsPage--Main--Content--Body {
      order: 1;
      max-width: 100%;
      min-width: 100%;
      padding: 12px;
    }

    .Category {
      order: 2;
      max-width: 100%;
      min-width: 100%;
      padding: 24px 12px 12px;

      .Category--Logo {
        width: 100%;
        text-align: center;
      }
    }
  }
}
