<header class="Header">
  <div class="Header--Header">
    <!-- <span>&#38;#12306; 819&#45;1155 福岡県糸島市川付570</span> -->
    <!-- <span>&#38;#9742; 05013133063</span> -->
    <ul class="Header--Header--SocialList">
      <li class="Header--Header--SocialList--Item">
        <a href="https://www.facebook.com/yamatokurashitotabemono/"><img src="./images/icon_facebook.png" alt="facebook" /></a>
      </li>
      <li class="Header--Header--SocialList--Item">
        <a href="https://www.instagram.com/yamaai_c/"><img src="./images/icon_instagram.png" alt="instagram" /></a>
      </li>
    </ul>
  </div>
  <div class="Header--Content">
    <h1 class="Header--Content--Heading">
      <a href="/">
        <img src="./images/logo.png" alt="yamaai" />
      </a>
    </h1>
  </div>
</header>
