<header class="Header">
  <div class="Header--SubHeader">
    <ul class="Header--SubHeader--SocialList">
      <li class="Header--SubHeader--SocialList--Item">
        <a href="https://www.facebook.com/yamatokurashitotabemono/"><img src="./images/icon_facebook.png" alt="facebook" /></a>
      </li>
      <li class="Header--SubHeader--SocialList--Item">
        <a href="https://www.instagram.com/yamaai_c/"><img src="./images/icon_instagram.png" alt="instagram" /></a>
      </li>
    </ul>
  </div>

  <div class="Header--Content">
    <h1 class="Header--Content--Heading">
      <a href="/">
        <img src="./images/logo.png" alt="yamaai" />
      </a>
    </h1>
    <div class="Header--Content--Image">
      <img src="./images/cover.jpg" alt="yamaai" />
    </div>
  </div>
</header>
