<div class="Category">
  <div class="Category--Logo">
    <a href="/">
      <img src="https://khirayama.github.io/yamaai/pages/images/logo.png" alt="yamaai" />
    </a>
  </div>
  <ul class="Category--List">
    <li class="Category--List--Item">
      <a href="/tagged/yamaai">
        <div class="Category--List--Item--Image">
          <img src="https://khirayama.github.io/yamaai/pages/images/illustration1.png" alt="yamaai" />
        </div>
        <span class="Category--List--Item--Text">
          ぜんぶ
        </span>
      </a>
    </li>
    <li class="Category--List--Item">
      <a href="/tagged/お知らせ">
        <div class="Category--List--Item--Image">
          <img src="https://khirayama.github.io/yamaai/pages/images/illustration4.png" alt="yamaai" />
        </div>
        <span class="Category--List--Item--Text">
          お知らせ
        </span>
      </a>
    </li>
    <li class="Category--List--Item">
      <a href="/tagged/暮らし">
        <div class="Category--List--Item--Image">
          <img src="https://khirayama.github.io/yamaai/pages/images/illustration5.png" alt="yamaai" />
        </div>
        <span class="Category--List--Item--Text">
          暮らし
        </span>
      </a>
    </li>
    <li class="Category--List--Item">
      <a href="/tagged/食べもの">
        <div class="Category--List--Item--Image">
          <img src="https://khirayama.github.io/yamaai/pages/images/illustration3.png" alt="yamaai" />
        </div>
        <span class="Category--List--Item--Text">
          食べもの
        </span>
      </a>
    </li>
    <li class="Category--List--Item">
      <a href="/tagged/ぺぺ">
        <div class="Category--List--Item--Image">
          <img src="https://khirayama.github.io/yamaai/pages/images/illustration2.png" alt="yamaai" />
        </div>
        <span class="Category--List--Item--Text">
          ぺぺ
        </span>
    </li>
  </ul>
</div>
