.Header {
  position: relative;
  z-index: 1;

  .Header--Header {
    position: relative;
    padding: 20px;

    .Header--Header--SocialList {
      position: absolute;
      top: 16px;
      right: 20px;
      text-align: right;
      display: inline-block;

      .Header--Header--SocialList--Item {
        display: inline-block;
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 3px;
        transition: opacity 200ms ease-out;

        &:hover {
          opacity: .64;
        }

        & + .Header--Header--SocialList--Item {
          margin-left: 8px;
        }
      }
    }
  }

  .Header--Content {
    position: relative;
    padding: 88px 12px 0;
    max-width: 768px;
    margin: 0 auto;

    .Header--Content--Heading {
      display: inline-block;
      text-align: center;
      width: 100%;

      img {
        width: 188px;
        height: 69px;
      }
    }
  }
}
