<header class="Header">
  <div class="Header--Content">
    <h1 class="Header--Content--Heading">
      <a href="/">
        <img src="https://khirayama.github.io/yamaai/pages/images/logo.png" alt="yamaai" />
      </a>
    </h1>
    <!-- <img class="Header&#45;&#45;Content&#45;&#45;Copy" src="https://khirayama.github.io/yamaai/pages/images/copy.png" alt="山と暮らしと出合う" /> -->
    ${require('../components/Navigation.html')}
    <div class="Header--Content--Image">
      <p class="Header--Content--Image--Copy">山と 暮らしと 出合う</p>
      <img src="https://khirayama.github.io/yamaai/pages/images/cover.jpg" alt="yamaai" />
    </div>
  </div>
</header>
