<header class="Header">
  <div class="Header--SubHeader">
    <div class="Header--SubHeader--Info">
      <a href="tel:05013133063">050-1313-3063</a>
      <a href="https://goo.gl/maps/GSSdTfsf19E2">福岡県糸島市川付570</a>
    </div>
  </div>

  <div class="Header--Content">
    <h1 class="Header--Content--Heading">
      <a href="/">
        <img src="https://khirayama.github.io/yamaai/pages/images/logo.png" alt="yamaai" />
      </a>
    </h1>
    <!-- <img class="Header&#45;&#45;Content&#45;&#45;Copy" src="https://khirayama.github.io/yamaai/pages/images/copy.png" alt="山と暮らしと出合う" /> -->
    <p class="Header--Content--Copy">山と 暮らしと 出合う</p>
    <div class="Header--Content--Image">
      <img src="https://khirayama.github.io/yamaai/pages/images/cover.jpg" alt="yamaai" />
    </div>
  </div>
</header>
