@import 'application/vars';

.Header {
  .Header--Content {
    max-width: 768px;
    margin: 0 auto;

    .Header--Content--FontSizeList {
      text-align: right;

      .Header--Content--FontSizeList--Item {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        vertical-align: top;

        &[data-size="small"] {
          font-size: 0.75em;
        }
        &[data-size="medium"] {
          font-size: 1em;
        }
        &[data-size="large"] {
          font-size: 1.25em;
        }
      }
    }

    .Header--Content--Heading {
      display: inline-block;
      width: 100%;
      padding: 24px 12px 12px;

      img {
        width: 124px;
        height: auto;
        z-index: 1;
      }
    }

    .Header--Content--Image {
      display: flex;
      position: relative;
      max-width: 768px;
      width: auto;
      height: auto;
      justify-content: center;
      align-items: center;

      img {
        background: rgba(0, 0, 0, .08);
      }

      .Header--Content--Image--Copy {
        position: absolute;
        bottom: 12px;
        right: 12px;
        z-index: 1;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }
}
