<nav class="Navigation">
  <ul class="Navigation--List">
    <!-- <li class="Navigation&#45;&#45;List&#45;&#45;Item"><a href="/#about"><img src="https://khirayama.github.io/yamaai/pages/images/img_nav_about.png" alt="宿泊・料金" /></a></li> -->
    <!-- <li class="Navigation&#45;&#45;List&#45;&#45;Item"><a href="/#map"><img src="https://khirayama.github.io/yamaai/pages/images/img_nav_map.png" alt="地図" /></a></li> -->
    <!-- <li class="Navigation&#45;&#45;List&#45;&#45;Item"><a href="/#reservation"><img src="https://khirayama.github.io/yamaai/pages/images/img_nav_reservation.png" alt="予約" /></a></li> -->
    <li class="Navigation--List--Item">
      <a href="/#about">宿泊・料金</a>
    </li>
    <li class="Navigation--List--Item">
      <a href="/#map">地図</a>
    </li>
    <li class="Navigation--List--Item">
      <a href="/#reservation">予約</a>
    </li>
  </ul>
</nav>
