.PostList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    margin: 12px 0 16px;
  }

  .PostList--Item {
    display: inline-block;
    flex: 1;
    vertical-align: top;
    padding: 0 4px 12px;
    overflow: hidden;
    max-width: 20%;
    min-width: 20%;
    margin-bottom: 36px;
    border-right: 0;
    word-break: break-all;

    .PostList--Item--Body {
      * {
        display: none;
        padding: 0;
        margin: 0;
        vertical-align: top;
      }

      img:first-of-type {
        display: inline-block;
      }

      figure:first-of-type {
        display: inline-block;

        img {
          display: inline-block;
        }
      }

      a:first-of-type {
        display: inline-block;
      }
    }

    .PostList--Item--Date {
      padding: 8px 0 0;
      color: rgba(0, 0, 0, .44);
    }

    .PostList--Item--Title {
      font-weight: bold;
    }

    .PostList--Item--More {
      text-align: right;
      font-weight: bold;
    }
  }
}

.PostList--More {
  text-align: right;
  max-width: 768px;
  margin: 0 auto;
  padding: 12px;
}
