<ul class="PostList">
  <li class="PostList--Item"><a href="https://yamaai.info/post/179011362498/4ホームページ作り"></a><div class="PostList--Item--Body"><a href="https://yamaai.info/post/179011362498/4ホームページ作り"><p>紙ものでカードを作るのにあわせて（絶賛製作中！）ホームページをリニューアル中です。こちらもありがたいことに、友達のそーたに相談させてもらってます！</p><figure data-orig-width="4608" data-orig-height="3072" class="tmblr-full"><img src="https://66.media.tumblr.com/55998f5ba2f5d0377ac06a7ec70135f2/tumblr_inline_pgjjd9BrBk1vo6f6i_500.jpg" alt="image" data-orig-width="4608" data-orig-height="3072" width="500" height="333"></figure></a><p class="read_more_container"><a href="https://yamaai.info/post/179011362498/4ホームページ作り"></a><a href="https://yamaai.info/post/179011362498/4%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%9A%E3%83%BC%E3%82%B8%E4%BD%9C%E3%82%8A" class="read_more">Keep reading</a></p></div><div class="PostList--Item--Date">2018.10.13.</div><div class="PostList--Item--Title">4．ホームページ作り FIX</div></li>
  {block:Posts}
    {block:Text}
      <li class="PostList--Item">
        <a href="{Permalink}">
          <div class="PostList--Item--Body">{Body}</div>
          {block:Date}<div class="PostList--Item--Date">{Year}.{MonthNumber}.{DayOfMonth}.</div>{/block:Date}
          <div class="PostList--Item--Title">{Title}</div>
        </a>
      </li>
    {/block:Text}
  {/block:Posts}
</ul>
