.PostList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    margin: 12px 0 16px;
  }

  .PostList--Item {
    display: inline-block;
    flex: 1;
    vertical-align: top;
    padding: 4px;
    overflow: hidden;
    max-width: 25%;
    min-width: 25%;
    border-right: 0;
    word-break: break-all;

    .PostList--Item--Body {
      position: relative;
      background: rgba(100, 100, 100, 0.44);
      padding-top: 100%;

      * {
        display: none;
        padding: 0;
        margin: 0;
        vertical-align: top;
      }

      img:first-of-type {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      figure:first-of-type {
        display: inline-block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        img {
          display: inline-block;
        }
      }

      a:first-of-type {
        display: inline-block;
      }

      .PostList--Item--Body--Info {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 100%;
        text-align: right;
        color: #fff;

        .PostList--Item--Body--Info--Date {
          display: inline-block;
          width: 100%;
          padding: 4px;
        }

        .PostList--Item--Body--Info--Title {
          display: inline-block;
          width: 100%;
          padding: 4px;
          font-weight: bold;
        }
      }
    }
  }
  .PostList--Item:nth-child(9),
  .PostList--Item:nth-child(10),
  .PostList--Item:nth-child(11),
  .PostList--Item:nth-child(12),
  .PostList--Item:nth-child(13),
  .PostList--Item:nth-child(14),
  .PostList--Item:nth-child(15) {
    display: none;
  }
}

.PostList--More {
  text-align: right;
  max-width: 768px;
  margin: 0 auto;
  padding: 12px;
}
