.PostList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  .PostList--Item {
    display: inline-block;
    flex: 1;
    vertical-align: top;
    padding: 4px;
    overflow: hidden;
    max-width: 25%;
    min-width: 25%;
    border-right: 0;
    word-break: break-all;

    .PostList--Item--Body {
      position: relative;
      background: rgba(100, 100, 100, 0.44);
      padding-top: 75%;

      .PostList--Item--Body--Image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: red;

        * {
          display: none;
          padding: 0;
          margin: 0;
          vertical-align: top;
        }

        img:first-of-type {
          object-fit: cover;
          display: inline-block;
          width: 100%;
          height: 100%;
        }

        figure:first-of-type {
          object-fit: cover;
          display: inline-block;
          width: 100%;
          height: 100%;

          img {
            display: inline-block;
          }
        }

        a:first-of-type {
          display: inline-block;
        }
      }
    }
  }
}

.PostList--More {
  text-align: right;
  max-width: 768px;
  margin: 0 auto;
  padding: 12px;
}
