<ul class="PostList">
  {block:Posts}
    {block:Text}
      <li class="PostList--Item">
        <a href="{Permalink}">
          <div class="PostList--Item--Body">
            <div class="PostList--Item--Body--Image">
              {Body}
            </div>
          </div>
        </a>
      </li>
    {/block:Text}
    {block:Photo}
      <li class="PostList--Item">
        <a href="{Permalink}">
          <div class="PostList--Item--Body">
            <div class="PostList--Item--Body--Image">
              <img src="{PhotoURL-500}" alt="{PhotoAlt}" />
            </div>
          </div>
        </a>
      </li>
    {/block:Photo}
  {/block:Posts}
</ul>
