<ul class="PostList">
  {block:Posts}
    {block:Text}
      <li class="PostList--Item">
        <a href="{Permalink}">
          <div class="PostList--Item--Body">{Body}</div>
          {block:Date}<div class="PostList--Item--Date">{Year}.{MonthNumber}.{DayOfMonth}.</div>{/block:Date}
          <div class="PostList--Item--Title">{Title}</div>
        </a>
      </li>
    {/block:Text}
    {block:Photo}
      <li class="PostList--Item">
        <a href="{Permalink}">
          <div class="PostList--Item--Body"><img src="{PhotoURL-500}" alt="{PhotoAlt}" /></div>
          {block:Date}<div class="PostList--Item--Date">{Year}.{MonthNumber}.{DayOfMonth}.</div>{/block:Date}
        </a>
      </li>
    {/block:Photo}
  {/block:Posts}
</ul>
