@import 'components/Column';

.Sign {
  padding: 12px;

  .Sign--InfoBox {
    text-align: center;

    .Sign--InfoBox--Name {
      padding: 12px 0;
      font-weight: bold;
    }

    a {
      text-decoration: underline;
    }
  }
}
