<div class="Sign">
  <div class="Sign--InfoBox">
    <a href="/" class="Sign--InfoBox--Name">yamaai - 山合 -</a>
    <p>&#12306; 819-1155</p>
    <p>福岡県糸島市川付570</p>
    <p>
      <a href="tel:05013133063">050-1313-3063</a>
    </p>
    <p>営業日：金・土・日・月</p>
    <p>
      お知らせは
      <a href="/search">山と暮らしと食べものの記録</a>
      から
    </p>
    <ul class="Sign--InfoBox--SocialList">
      <li class="Sign--InfoBox--SocialList--Item">
        <a href="https://www.facebook.com/yamatokurashitotabemono/"><img src="https://khirayama.github.io/yamaai/pages/images/icon_facebook.png" alt="facebook" /></a>
      </li>
      <li class="Sign--InfoBox--SocialList--Item">
        <a href="https://www.instagram.com/yamaai_c/"><img src="https://khirayama.github.io/yamaai/pages/images/icon_instagram.png" alt="instagram" /></a>
      </li>
    </ul>
  </div>
</div>
