/* Reset */
html,
body,
section,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
dl,
dt,
dd,
label,
input,
textarea,
select,
button,
table,
thead,
tbody,
tr,
th,
td,
img,
i,
blockquote,
svg,
circle,
rect {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-weight: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: 1.6;
  vertical-align: baseline;
  font-feature-settings: 'palt';
  -webkit-tap-highlight-color: transparent;
  /* -webkit-touch-callout: none; */
  /* -webkit-user-select: none; */
}
ul {
  list-style: none;
}
input,
textarea,
select,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
form,
input,
textarea,
select,
button,
a {
  -webkit-user-select: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  vertical-align: top;
  width: 100%;
}

html {
  font-size: 14px;
  font-family: 游ゴシック, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  color: rgba(0, 0, 0, .72);
}

/* Application */
.Application {
  /* background: rgba(255, 254, 250, .7); */
}
.Application.Application__Post {
  background-image: url("./images/background_post.png");
}
.Application--Main {
}
.Application.Application__Post .Application--Main {
  background-color: rgba(255, 255, 255, 0.88);
}

/* Header */
.Header {
}
.Header--Header {
  position: relative;
  padding: 20px;
}
.Header--Header span + span{
  margin-left: 12px;
}
.Header--Header--SocialList {
  position: absolute;
  top: 16px;
  right: 20px;
  text-align: right;
  display: inline-block;
}
.Header--Header--SocialList--Item {
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 3px;
  transition: opacity 200ms ease-out;
}
.Header--Header--SocialList--Item:hover {
  opacity: .64;
}
.Header--Header--SocialList--Item + .Header--Header--SocialList--Item {
  margin-left: 8px;
}
.Header--Content {
  position: relative;
  padding: 88px 12px 0;
  max-width: 768px;
  margin: 0 auto;
}
.Header--Content--Heading {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.Header--Content--Heading img {
  width: 188px;
  height: 69px;
}
.CoverImage {
  position: relative;
  top: -24px;
  margin: 0 auto;
  text-align: center;
  min-height: 340px;
}
.CoverImage .CoverImage--Main {
  position: relative;
  max-width: 768px;
  z-index: -1;
}
.CoverImage .CoverImage--Ill1 {
  position: absolute;
  width: 76px;
  bottom: -24px;
  left: calc(50% + 224px);
}
.CoverImage .CoverImage--Ill2 {
  position: absolute;
  width: 68px;
  bottom: 104px;
  right: 144px;
}
.CoverImage .CoverImage--Ill3 {
  position: absolute;
  width: 88px;
  bottom: 0;
  right: 224px;
}
.CoverImage .CoverImage--Ill4 {
  position: absolute;
  width: 108px;
  bottom: 64px;
  left: 124px;
}
.CoverImage .CoverImage--Ill5 {
  position: absolute;
  width: 68px;
  bottom: -12px;
  left: 84px;
}
/* Copy */
.Copy {
  text-align: left;
  padding: 36px 12px 16px;
  font-weight: bold;
  font-size: 1.125rem;
  max-width: 100%;
}
.Copy .CopyImage__1 {
  width: auto;
  height: calc(226px * 0.14);
}
.Copy .CopyImage__2 {
  width: auto;
  height: calc(265px * 0.14);
}
.Copy .CopyImage__3 {
  width: auto;
  height: calc(284px * 0.14);
}
.Copy .CopyImage__4 {
  width: auto;
  height: calc(206px * 0.14);
}
.Copy .CopyImage__5 {
  width: auto;
  height: calc(250px * 0.14);
}
.Copy .CopyImage__6 {
  width: auto;
  height: calc(192px * 0.14);
}
/* Message */
.Message {
  width: 100%;
  max-width: 768px;
  padding: 12px;
  margin: 0 auto;
  text-align: center;
}
/* Navigation */
.Navigation {
  max-width: 768px;
  margin: 0 auto;
  padding: 16px 12px;
}
.Navigation--List {
  display: flex;
}
.Navigation--List--Item {
  flex: 1;
  text-align: center;
  font-size: .875rem;
  padding: 12px 0;
  font-weight: bold;
}
.Navigation--List--Item img {
  width: auto;
  height: 32px;
}
/* ContentHeader */
.ContentHeader {
  width: 100%;
  max-width: 768px;
  margin: 24px auto 0;
  padding: 16px 12px;
  font-weight: bold;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}
/* Image */
.Image {
  padding: 4px;
  border: solid 1px rgba(0, 0, 0, 0.12);
}
/* Column */
.Column {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.Column--Item {
  display: inline-block;
  width: 100%;
  padding: 4px 12px;
  vertical-align: top;
}
.Column--Item th {
  font-weight: bold;
  min-width: 7rem;
  text-align: left;
}
.Column--Item td {
  padding: 4px;
}
@media screen and (min-width:480px) {
  .Column--Item {
    width: calc(50% - 3px);
  }
}
/* ImageList */
.ImageList--Display {
  position: relative;
  padding-top: calc(75% + 2rem);
}
.ImageList--Display--Content {
  position: absolute;
  top: 0;
  left: 0;
}
.ImageList {
}
.ImageList .ImageList--Item {
  position: relative;
  display: inline-block;
  width: calc(100% / 4);
  padding-top: calc(100% / 4);
  cursor: pointer;
  overflow: hidden;
  vertical-align: top;
}
.ImageList .ImageList--Item--Content {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  padding: 2px;
  vertical-align: top;
  overflow: hidden;
}
.ImageList .ImageList--Item img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, .16);
}
/* Diary */
.Diary {
  background: #fff;
}
.Diary--Header {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px 12px;
  font-weight: bold;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}
/* PostList */
.PostList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.PostList--Item {
  display: inline-block;
  flex: 1;
  vertical-align: top;
  padding: 12px;
  overflow: hidden;
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
  margin-bottom: 36px;
  border-right: 0;
  max-height: 460px;
}
.PostList--Item:nth-of-type(3n+1),
.PostList--Item:nth-of-type(3n+2) {
  border-right: solid 1px rgba(0, 0, 0, .12);
}
.PostList--Item a {
  display: inline-block;
}
.PostList--Item--Content {
}
.PostList--Item--Content--Title {
  font-size: 1.125rem;
  font-weight: bold;
}
.PostList--Item--Content--Image {
}
.PostList--Item--Content--Text {
  padding: 16px 0;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}
@media screen and (max-width: calc(768px * 3 / 4)) {
  .PostList--Item {
    min-width: calc(100% / 2);
    max-width: calc(100% / 2);
  }
  .PostList--Item:nth-of-type(2n+1) {
    border-right: solid 1px rgba(0, 0, 0, .12);
  }
}
@media screen and (max-width: calc(768px / 2)) {
  .PostList--Item {
    min-width: 100%;
    max-width: 100%;
  }
  .PostList--Item:nth-of-type(n) {
    border-right: 0;
  }
}

.Footer {
  padding: 24px 12px;
  text-align: center;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, .64);
}

.Button {
  display: inline-block;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, .72);
  padding: 8px;
  text-align: center;
  margin: 12px 0;
  background: #fff;
  font-weight: bold;
}

.Note {
  display: inline-block;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, .72);
  padding: 8px;
}

/* Post page */
.PostContent {
  max-width: 568px;
  margin: 0 auto;
  padding: 8px 12px 68px;
}
.PostContent h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 68px 0 48px;
}
