.Diary {
  & > a {
    display: inline-block;
    width: 100%;
    padding: 32px 0 12px;
    text-align: center;
  }

  & > a > img {
    width: auto;
    height: calc(368px * 0.14);
  }

  & > ul + a {
    text-align: right;
    padding: 16px;
  }

  .PostList--Item {
    max-height: 280px;

    .PostList--Item--Date {
      padding: 0 0 12px;
      color: rgba(0, 0, 0, .44);
      font-weight: bold;
      text-align: center;
    }
  }

  .Diary--More {
    text-align: right;
    max-width: 768px;
    margin: 0 auto;
  }
}
