/* Reset */
html,
body,
section,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
dl,
dt,
dd,
label,
input,
textarea,
select,
button,
table,
thead,
tbody,
tr,
th,
td,
img,
i,
blockquote,
svg,
circle,
rect {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-weight: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: 1.4;
  vertical-align: baseline;
  font-feature-settings: 'palt';
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
ul {
  list-style: none;
}
input,
textarea,
select,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
form,
input,
textarea,
select,
button,
a {
  -webkit-user-select: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  vertical-align: top;
  width: 100%;
}

html {
  font-size: 14px;
  font-family: 游ゴシック, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  color: rgba(0, 0, 0, .72);
}

/* Application */
.Application {
}
.Application--Main {
}

/* Header */
.Header {
  position: relative;
  z-index: 1;
}
.Header--Content {
  display: flex;
  padding: 48px 12px 36px;
  max-width: 768px;
  margin: 0 auto;
}
.Header--Content--Heading {
  flex: 1;
  display: inline-block;
  font-weight: bold;
}
.Header--Content--SocialList {
  flex: 1;
  text-align: right;
  display: inline-block;
}
.Header--Content--SocialList--Item {
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #666;
  color: #fff;
  border-radius: 3px;
}
/* MainVisual */
.MainVisual {
  width: 100%;
  padding: 12px;
  text-align: center;
}
.MainVisual--Image {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
/* Navigation */
.Navigation {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 12px;
}
.Navigation--List {
  display: flex;
}
.Navigation--List--Item {
  flex: 1;
  text-align: center;
  font-size: .75rem;
  padding: 12px 0;
  font-weight: bold;
}
/* ContentHeader */
.ContentHeader {
  width: 100%;
  max-width: 768px;
  margin: 24px auto 0;
  padding: 16px 12px;
  font-weight: bold;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}
/* Image */
.Image {
  padding: 4px;
  border: solid 1px rgba(0, 0, 0, 0.12);
}
/* Message */
.Message {
  width: 100%;
  max-width: 768px;
  padding: 4px 12px;
  margin: 0 auto;
}
.Sign {
  width: 100%;
  max-width: 768px;
  padding: 12px;
  margin: 0 auto;
  text-align: right;
}
/* Column */
.Column {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.Column--Item {
  display: inline-block;
  width: 100%;
  padding: 4px 12px;
  vertical-align: top;
}
.Column--Item th {
  font-weight: bold;
  min-width: 7rem;
  text-align: left;
}
.Column--Item td {
  padding: 4px;
}
@media screen and (min-width:480px) {
  .Column--Item {
    width: calc(50% - 3px);
  }
}

.PostList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.PostList--Item {
  display: inline-block;
  flex: 1;
  vertical-align: top;
  padding: 12px;
  overflow: hidden;
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
  margin-bottom: 36px;
  border-right: 0;
  max-height: 460px;
}
.PostList--Item:nth-of-type(3n+1),
.PostList--Item:nth-of-type(3n+2) {
  border-right: solid 1px rgba(0, 0, 0, .12);
}
.PostList--Item a {
  display: inline-block;
}
.PostList--Item--Content {
}
.PostList--Item--Content--Title {
  font-size: 1.125rem;
  font-weight: bold;
}
.PostList--Item--Content--Image {
}
.PostList--Item--Content--Text {
  padding: 16px 0;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}
@media screen and (max-width: calc(768px * 3 / 4)) {
  .PostList--Item {
    min-width: calc(100% / 2);
    max-width: calc(100% / 2);
  }
  .PostList--Item:nth-of-type(2n+1) {
    border-right: solid 1px rgba(0, 0, 0, .12);
  }
}
@media screen and (max-width: calc(768px / 2)) {
  .PostList--Item {
    min-width: 100%;
    max-width: 100%;
  }
  .PostList--Item:nth-of-type(n) {
    border-right: 0;
  }
}

.Footer {
  padding: 24px 12px;
  text-align: center;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, .64);
}
